/.local
/.replit
/.venv
/hr.db
/mastercam_git_interface.log
/poetry.lock
/pyproject.toml
/__pycache__
/node_modules
/build
/dist
./app_data
# In your main .gitignore file

# --- Add these lines at the very bottom ---
